
@{
    ViewBag.Title = "EditBrand";
    Layout = "~/Views/Shared/_Admin.cshtml";
    TradeKerala2017.Models.tblBrand tblC = new TradeKerala2017.Models.tblBrand();
    try
    {
        tblC = ViewBag.EditBrand;
    }
    catch
    {

    }
    }

<!-- page content -->



<link href="../../css/bootstrap-table.css" rel="stylesheet" type="text/css" />
<script src="../../js/jquery.min.js" type="text/javascript"></script>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Screens <small>Details of Screens</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                
                @using (Html.BeginForm("EditBrand", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @Class = "form-horizontal form-label-left", @novalidate = "true" }))
                {
                    <span class="section">Add Brand</span>

                    <input id="HiddenId" name="HiddenId" type="hidden" value="@tblC.Brandid" />
                    <input id="HiddenImage" name="HiddenImage" type="hidden" value="@tblC.BrandLogo" />
                    
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Brand Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="txtBrand" placeholder="both name(s) e.g Evaporator" required="required" type="text" value="@tblC.BrandName">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Brand Logo<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="file1"  type="file" ><br/>
                            <img src="@tblC.BrandLogo" width="100px" height="100px" class="img-image" />
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Description<span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <textarea class="form-control" rows="3" placeholder="rows=&quot;3&quot;" name="txtBrandDesc">@tblC.BrandDesc</textarea>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success">Update</button><br />

                            <label>@ViewBag.Message</label>
                        </div>
                    </div>
                }

                <div class="alert alert-success alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>
                        <input id="Hidmsg" type="hidden" value="" /> 
                    </strong>
                </div>
                



            </div>
        </div>
    </div>
</div>

<script>
       $(function () {


           $(".alert").hide();
           var msg = $("#Hidmsg").val();
           if (msg != "") {
               $(".alert").fadeIn(2000);
           }
           else {
               $(".alert").fadeOut(500);
           }




           $(".select2_single").select2({
               placeholder: "Select a state",
               allowClear: true
           });

           $(".select2_single").change(function () {
               debugger;
               var Name = $(".select2_single option:selected").text();
               $("#HiddenCatName").val(Name);

           });


           $('#hover, #striped, #condensed').click(function () {
               var classes = 'table';

               if ($('#hover').prop('checked')) {
                   classes += ' table-hover';
               }
               if ($('#condensed').prop('checked')) {
                   classes += ' table-condensed';
               }
               $('#table-style').bootstrapTable('destroy')
						                .bootstrapTable({
						                    classes: classes,
						                    striped: $('#striped').prop('checked')
						                });
           });
       });

       function rowStyle(row, index) {
           var classes = ['active', 'success', 'info', 'warning', 'danger'];

           if (index % 2 === 0 && index / 2 < classes.length) {
               return {
                   classes: classes[index / 2]
               };
           }
           return {};
       }
</script>
<!-- /page content -->
<script src="../../js/jquery.min.js" type="text/javascript"></script>
<script src="../../js/bootstrap-table.js" type="text/javascript"></script>


