
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Admin.cshtml";
    TradeKerala2017.Models.DbTradekeralaEntities1 db = new TradeKerala2017.Models.DbTradekeralaEntities1();

    String Message = "";
    try
    {
        if (!String.IsNullOrEmpty(Request.QueryString["Msg"].ToString()))
        {
            Message = Request.QueryString["Msg"].ToString();
        }
    }
    catch
    {
    }
}


<link href="~/css/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />
<link href="~/css/jquery.filer.css" rel="stylesheet" />

<script src="../../js/jquery.min.js" type="text/javascript"></script>
<script src="~/js/jquery.filer.js"></script>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Customer Review <small>Details of Customer Review</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="alert alert-success alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>
                        <input id="Hidmsg" type="hidden" value="@Message" /> @Message
                    </strong>
                </div>
                <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="user_name" data-sortable="true">User Name</th>
                            <th data-field="product" data-sortable="true">Product</th>
                            <th data-field="review" data-sortable="true">Review</th>
                            <th data-field="position" data-sortable="true">Contact Number</th>
                            <th>Type</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    @{

                        foreach (TradeKerala2017.Models.tblreviews tc in db.tblreviews.ToList())
                        {
                            <tr>
                                <td>@tc.name</td>
@{

    foreach (TradeKerala2017.Models.tblProduct tp in db.tblProduct.Where(i => i.pid == @tc.prodid).ToList())
    {
        <td>@tp.ProdName</td>
    }
}
                                
                                <td>@tc.reviews</td>
                                <td>@tc.phone</td>
                                <td>@tc.type</td>
                                <td><a class="btn btn-primary btn-sm"  href="~/admin/ViewReview?id=@tc.id"><i class="fa fa-plus-square"  aria-hidden="true" title="Edit Details"> View</i></a> </td>
                                <td><a class="btn btn-primary btn-sm"  href="~/admin/DeleteReview?id=@tc.id&name=@tc.name"><i class="fa fa-trash-o"  aria-hidden="true" title="Delete Details" onclick="return confirm('Do You Want To Delete?')"> Delete</i></a></td>
                                

                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<script>
       $(function () {


           $(".alert").hide();
           var msg = $("#Hidmsg").val();
           if (msg != "") {
               $(".alert").fadeIn(2000);
           }
           else {
               $(".alert").fadeOut(500);
           }

           </script>