
@{
    ViewBag.Title = "TopBrands";
    Layout = "~/Views/Shared/_Admin.cshtml";
    TradeKerala2017.Models.DbTradekeralaEntities1 db = new TradeKerala2017.Models.DbTradekeralaEntities1();
    int ct = ViewBag.ct;
    String Message = "";
    try
    {
        if (!String.IsNullOrEmpty(Request.QueryString["Msg"].ToString()))
        {
            Message = Request.QueryString["Msg"].ToString();
        }
    }
    catch
    {
    }
}

<!-- page content -->




<script src="../../js/jquery.min.js" type="text/javascript"></script>




<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Add Top Brands
                    <small>Details of Top Brands</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("TopBrands", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data", @Class = "form-horizontal form-label-left", @novalidate = "true" }))
            {
                    <input type="hidden" name="HiddenId" id="HiddenId" />
                    <span class="section">Top Brands</span>
                    <label style="color:red">Total Number Of Brands showed in front section:@ct</label>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Select Brand<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="select2_single form-control col-md-7 col-xs-12" name="product" tabindex="-1">
                                <option></option>
                                @{
                                    foreach (TradeKerala2017.Models.tblBrand tbB in db.tblBrands.ToList())
                                    {
                                        <option value="@tbB.Brandid">@tbB.BrandName</option>

                                    }

                                }

                            </select>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Brand Image<span class="required">*</span>
                            <h6 style="color:red">
                                <b></b>
                            </h6>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" name="file1" required="required" type="file">
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button type="submit" class="btn btn-primary">Cancel</button>
                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                            <br />
                        </div>
                    </div>

                    <div class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>
                            <input id="Hidmsg" type="hidden" value="@Message" /> @Message
                        </strong>
                    </div>

                    <table data-toggle="table" data-url="tables/data1.json" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th data-field="Trending_Product" data-sortable="true">Top Brand</th>
                                <th data-field="position" data-sortable="true">Top Brand Image</th>
                                <th>Hide & Show</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        @{
                            foreach (TradeKerala2017.Models.tb_TopBrand tbl in db.tb_TopBrand.ToList())
                            {
                                <tr>
                                    <td>@tbl.Brand_Name</td>
                                    <td>
                                        <img src="@tbl.Image" style="height:150Px; width:150px" class="img-responsive" />
                                    </td>
                                    @if (tbl.Hide == "Hided")
                                    {
                                        <td>
                                            <b><a class="btn btn-danger btn-sm"  href="ShowBrands?id=@tbl.Id"><i class="fa fa-eye" aria-hidden="true" title="Hide Details"></i> Show </a></b>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <b><a class="btn btn-primary btn-sm" href="HideBrand?id=@tbl.Id"><i class="fa fa-eye-slash" aria-hidden="true" title="Hide Details"></i> Hide</a> </b>
                                        </td>
                                    }

                                    <td>
                                        <a class="btn btn-primary btn-sm" href="DeletetopBrand?id=@tbl.Id&name=@tbl.Brand_Name"><i class="fa fa-trash-o" aria-hidden="true" title="Delete Details" onclick="return confirm('Do You Want To Delete?')"> Delete</i></a>
                                    </td>
                                </tr>


                            }
                        }

                    </table>

                            }

            </div>

        </div>
    </div>
</div>


<script>

    $(function () {


        $(".alert").hide();
        var msg = $("#Hidmsg").val();
        if (msg != "") {
            $(".alert").fadeIn(2000);
        }
        else {
            $(".alert").fadeOut(500);
        }
    });
</script>

